<html>
  <body>
    <div style="width:800px; margin:0 auto;">
      <h1>Welcom on Fantazy Bookstore!</h1>
      <%= yield %>
    </div>
    <div class="col-md-2">
      <div class="card mt-2">
        <div class="card-header">
          Categories
        </div>
        <div class="card-body">
          <ul class="list-group">
            <% @categories.each do |category| %>
              <li class="list-group-item d-flex justify-content-between align-items-center">
                <%= link_to category.category, root_path(:cate => category.id) %>
                <span class="badge badge-info badge-pill"><%= category.products.count %></span>
              </li>
            <% end %>
          </ul>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="col-md-12">
        <div class="row">
          <% @products.each do |product| %>
            <div class="col-md-3">
              <div class="card mt-3">
                <img src="" style="width:100%">
                <h3><%= product.title %></h3>
                <h3><%= product.author %></h3>
                <p><%= product.category.category %></p>
                <p><%= product.full_cost %></p>
                <p><%= link_to 'Show', product ,  class: 'btn btn-primary' %></p>
                <p>
                  <%= form_with model: @order_item do |f| %>
                    <%= f.hidden_field :product_id, value: product.id %>
                    <%= f.number_field :quantity, value: 1, min: 1 %>
                    <%= f.submit "Add To Cart", class: "btn btn-primary"%>
                  <% end %>
                </p>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </body>
</html>

