<p id="notice"><%= notice %></p>
<div id="wrapper">
  <div id="yourdiv">
    <ul class="list-group">
      <li class="list-group-item disabled" aria-disabled="true">
        <p>
          <strong>Title:</strong>
          <%= @product.title %>
        </p>
      </li>
      <li class="list-group-item">
        <p>
          <strong>Author:</strong>
          <%= @product.author %>
        </p>
      </li>
      <li class="list-group-item">
        <p>
          <strong>Category:</strong>
          <%= @product.category.category %>
        </p>
      </li>
      <li class="list-group-item">
        <p>
          <strong>Description:</strong>
          <%= @product.description %>
        </p>
      </li>
      <li class="list-group-item">
        <p>
          <strong>Price:</strong>
          <%= @product.full_cost %>
        </p>
      </li>
      <li class="list-group-item">
        <p>
          <strong>Total rating:</strong>
          <%= @product.total_rating %>
        </p>
      </li>
    </ul>

    <% if user_signed_in? and current_user.admin? %>
      <%= link_to 'Edit', edit_product_path(@product) %> |
    <% end %>
    <%= link_to 'Back', products_path %>

      <h3>Comments</h3>
      <% @comments.each do |comment| %>
        <div>
          <strong><%= comment.username %></strong>
          <br>
          <p><%= comment.content %></p>
          <p><%= link_to 'Delete', comment_path(comment), method: :delete, data: { confirm: 'Are you sure?' } %></p>
        </div>
      <% end %>
    <% if user_signed_in? %>
      <%= render partial: 'comments/form', locals: { comment: @comment } %>
    <% end %>
  </div>
</div>

